<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<% @doses.each do |dose| %>
  <%= dose.description %> <%= dose.ingredient.name %>
  <%= link_to "Delete Dose", dose_path(dose),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
  <% end %>

<%= link_to 'Add dose to this cocktail', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
